<!-- <input type="file" (change)="onFileSelected($event)"> -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="Vista Upload" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <div class="f">
    <div class="container">
      <img src="https://i.imgur.com/YyJSohH.jpg" alt="Logo Supergiros Academy" style="max-width: 100%" />
      <label for="file-input">Seleccionar archivo</label>
      <input type="file" id="file-input" (change)="onFileSelected($event)" />
      <p>Archivo seleccionado: {{ selectedFileName }}</p>
      <div><button (click)="uploadFile()">Subir archivo</button>
        <button type="button" class="registerButton" (click)="logout()">
          Salir
        </button>
      </div>
      <button type="button" (click)="history()">Historial de archivos</button>
      <div *ngIf="uploadSuccess" class="success-message">
        ¡La subida del archivo fue exitosa!
      </div>
    </div>

  </div>
</body>

</html>
