<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row" style="margin-top:20px;">
      <div class="col-md-6 offset-md-3">
        <img src="https://i.imgur.com/YyJSohH.jpg" width="100%" height="170px">
        <h1 class="text-center"> Formulario de registro </h1>

        <!-- Formulario -->
        <form [formGroup]="RegisterForm">

          <!-- Nombre -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nombre:</mat-label>
            <input matInput [(ngModel)]="nombre" formControlName="nombre" name="nombre" placeholder="Digite su Nombre">
            <mat-error *ngIf="RegisterForm.invalid">El nombre es obligatorio y no debe tener numeros.</mat-error>
          </mat-form-field>

          <!-- Apellido -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Apellido:</mat-label>
            <input matInput [(ngModel)]="apellido" formControlName="apellido" name="apellido" placeholder="Digite su Apellido">
            <mat-error *ngIf="RegisterForm.invalid">El apellido es obligatorio y no debe tener numeros.</mat-error>
          </mat-form-field>

          <!-- Contraseña -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Contraseña:</mat-label>
            <input type="password" matInput [(ngModel)]="password" formControlName="password" name="password" placeholder="Digite su Contraseña">
            <mat-error *ngIf="RegisterForm.value.password">La Contraseña debe tener almenos 8 caracteres Y 1 letra mayuscula.</mat-error>
          </mat-form-field>

          <!-- Correo -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email:</mat-label>
            <input type="email" matInput [(ngModel)]="email" formControlName="email" name="email" pattern="[^\s]+"
              placeholder="Digite su correo">
            <mat-error *ngIf="RegisterForm.value.email">El correo ingresado no tiene un formato válido.</mat-error>
          </mat-form-field>

          <!-- Tipo de documento -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tipo de documento</mat-label>
            <mat-select [(ngModel)]="opcionTipo" formControlName="opcionTipo" name="opcionTipo">
              <mat-option value="1">CC</mat-option>
              <mat-option value="2">CE</mat-option>
              <mat-option value="3">Pasaporte</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Numero de documento -->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>No. Documento:</mat-label>
            <input matInput [(ngModel)]="numeroDocumento" formControlName="numeroDocumento" name="numeroDocumento" type="number"
              placeholder="Digite No. de documento">
            <mat-error *ngIf="RegisterForm.invalid">El número de documento debe contener solo números.</mat-error>
          </mat-form-field>

          <!-- Rol-->
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Rol:</mat-label>
            <mat-select [(ngModel)]="opcionSeleccionado" formControlName="rol" name="rol">
              <mat-option value="1">Administrador</mat-option>
              <mat-option value="2">User</mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Botones de registro y vuelta a atras -->
          <div class="text-center">
            <button mat-raised-button color="primary" [disabled]="RegisterForm.invalid" (click)="registrar()">Registrar</button>
            <button style="margin-left:20px;" mat-raised-button color="accent" (click)="logout()">Cerrar Sesión</button>
            <div *ngIf="registerSucess" class="success-message">
              ¡El registro del usuario fue exitoso!
            </div>
            <div *ngIf="registerFailed" class="error-message">
              El usuario ya existe.
            </div>
          </div>
        </form>
        <br><br><br>
      </div>
    </div>
  </div>
</div>
